$light-blue: #4A90E2;
$heavy-blue: #00408B;

$red: #D0021B;

$heavy-orange: #F5A623;
$light-orange: #FFF2DC;

$light-gray : #F2F2F2;
$medium-gray: #C8C8C8;
$heavy-gray : #757575;

$white: #FFF;
$black: #000;
$gray : #E1E1E1; 


$start-large: 1024px;
$start-medium : 768px;


$large_scale  : 1;
$medium_scale : 0.85;
$small_scale  : 0.7;